@import "../../../styles.scss";

$align-content: center;
$flex-direction: column;
$justify-content: center;
.header_profile {
  @include flex-container();
  width: 100%;
  padding: 1%;
  .header__name {
    @include flex-container($flex-direction, $justify-content);
    width: 90%;
    height: 100%;
    .header__title {
      font-size: 16px;
      font-weight: 500;
    }
    .header__subtitle {
      color: $color-grey;
    }
  }
  .header__picture {
    @include flex-container(
      $flex-direction,
      $justify-content,
      $align-content,
      $align-items: flex-end
    );
    width: 10%;
    height: 100%;
    img {
      height: 7vh;
      width: 7vh;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.header_btn {
  padding: 1%;
  @include flex-container($justify-content: space-between);
}
