@import "../../../styles.scss";

.task {
  @include flex-container(
    $justify-content: space-between,
    $align-items: center
  );
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
  padding: 2% 1.5% 2% 1.5%;
  .task__icon {
  }
  .task__text {
    h4 {
      font-weight: 400;
    }
    span {
      color: $color-grey;
    }
  }
}
